.productContainer {
    background-color: #f0f0f0;
    color: #333;
    padding: 25px; /* Increased padding for height */
    margin: 10px 0; /* Margin */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px; /* Increased width */
    height: auto; /* Height to auto */
}

.productImage {
    width: 160px; /* Width */
    height: 160px; /* Height */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px; /* Margin */
}

.productDetails {
    text-align: center;
    flex: 1;
}

.productName {
    font-size: 16px; /* Font size */
    margin: 0 0 5px; /* Margin */
}

.productPrice,
.productQuantity {
    font-size: 14px; /* Font size */
    margin: 3px 0; /* Margin */
}

.productActions {
    display: flex;
    flex-direction: row; /* Buttons in a row */
    gap: 5px; /* Gap between buttons */
    justify-content: center; /* Center buttons */
    margin-top: 5px; /* Space above buttons */
}

.acceptButton,
.rejectButton {
    padding: 8px 15px; /* Padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    font-size: 14px; /* Font size */
}

.acceptButton {
    background-color: #4CAF50;
}

.acceptButton:hover {
    background-color: #45a049;
}

.rejectButton {
    background-color: #f44336;
}

.rejectButton:hover {
    background-color: #d32f2f;
}