.container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 100vh;
    width: 50vh;
}

.header {
    background-color: slategrey;
    height: 8%;
    width: 100%;
    align-items: center;
}

.navdiv {
    display: flex;
    flex-direction:row;
    width: 95vw;
    color: black;
    gap: 12px;
}

nav{
    background-color: transparent;
    width: 80vw;
    height: 8%;
}

.productslist{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 80px; */
}