#login-div {
    background-color: rgb(125, 72, 179);
    padding: 22px;
    border-radius: 5px;
    width: 29%;
    /* margin: auto; */
    margin: 8% auto;
    border: 3px solid black;
}

#login-div>h2 {
    margin: 10px 0 20px 0;
    font-size: 2.1em;
    color: #dadada;
}

#details {
    margin-bottom: 15px;
}

#details label {
    display: block;
    font-weight: bold;
}

#details input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 3px 0;
    background-color: #d7d7d7;
}

#details label {
    color: #dadada;
}

#details input[type="submit"] {
    background-color: #007bff;
    color: cornsilk;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

a:hover {
    color: snow;
    font-size: large;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    cursor: pointer;
    width: 100%;
    /* margin: 20px auto; */
}

a {
    color: #c3cdee;
    font-size: 0.9em;
    text-decoration: none;
}

#forgot-password {
    float: right;

}

p {
    text-align: center;
}